
.lightsaber {
  position: fixed;
  bottom: 3em;
  left: 20%;
  transform: translateX(-50);
  font-size: 10px;
}

.lightsaber .part-1 {
  width: 3em;
  height: 11em;
  background: #c4c4c4;
  position: relative;
}

.lightsaber .part-1::before {
  content: "";
  width: 130%;
  height: 2em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  background: #c4c4c4;
}

.lightsaber .part-1::after {
  content: "";
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  background: #333333;
}

.lightsaber .part-2 {
  width: 2.6em;
  height: 6em;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    #333333 8%,
    #8d8d8d 10%,
    #333333 12%,
    #333333 22%,
    #8d8d8d 24%,
    #333333 26%,
    #333333 36%,
    #8d8d8d 38%,
    #333333 40%,
    #333333 50%,
    #8d8d8d 52%,
    #333333 54%,
    #333333 64%,
    #8d8d8d 66%,
    #333333 68%,
    #333333 78%,
    #8d8d8d 80%,
    #333333 82%
  );
  margin: 0 auto;
  position: relative;
}

.lightsaber .part-2::before {
  content: "";
  width: 70%;
  height: 1em;
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  background: #c4c4c4;
}

.lightsaber .part-3 {
  background: #c4c4c4;
  height: 1em;
  width: 3em;
  margin-bottom: 0.8em;
  border-radius: 0 0 1em 1em;
  position: relative;
}

.lightsaber .part-3::before {
  content: "";
  width: 120%;
  height: 0.5em;
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background: #c4c4c4;
  border-bottom: 3px solid #000;
}

.lightsaber .part-1,
.lightsaber .part-1::before,
.lightsaber .part-3,
.lightsaber .part-3::before,
.lightsaber .part-2::before {
  background: rgb(126, 126, 126);
  background: linear-gradient(
    90deg,
    rgba(126, 126, 126, 1) 0%,
    rgba(227, 227, 227, 1) 20%,
    rgba(120, 120, 120, 1) 50%,
    rgba(227, 227, 227, 1) 80%,
    rgba(126, 126, 126, 1) 100%
  );
}

.lightsaber .blade {
  height: 0;
  width: 1.8em;
  background: #fff;
  border-radius: 2em 2em 0 0;
  margin: 0 auto;
  position: relative;
  transition: 0.4s;
}

.lightsaber .blade::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #03fd4e;
  filter: blur(15px);
  z-index: -1;
}

.lightsaber .part-1 .switch-btn {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.lightsaber .blade-height {
  height: 40em;
}




.lightsaber-right {
  position: fixed;
  bottom: 3em;
  left: 80%;
  transform: translateX(-50);
  font-size: 10px;
}

.lightsaber-right .part-1-right {
  width: 3em;
  height: 11em;
  background: #c4c4c4;
  position: relative;
}

.lightsaber-right .part-1-right::before {
  content: "";
  width: 130%;
  height: 2em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  background: #c4c4c4;
}

.lightsaber-right .part-1-right::after {
  content: "";
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  background: #333333;
}

.lightsaber-right .part-2-right {
  width: 2.6em;
  height: 6em;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    #333333 8%,
    #8d8d8d 10%,
    #333333 12%,
    #333333 22%,
    #8d8d8d 24%,
    #333333 26%,
    #333333 36%,
    #8d8d8d 38%,
    #333333 40%,
    #333333 50%,
    #8d8d8d 52%,
    #333333 54%,
    #333333 64%,
    #8d8d8d 66%,
    #333333 68%,
    #333333 78%,
    #8d8d8d 80%,
    #333333 82%
  );
  margin: 0 auto;
  position: relative;
}

.lightsaber-right .part-2-right::before {
  content: "";
  width: 70%;
  height: 1em;
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  background: #c4c4c4;
}

.lightsaber-right .part-3-right {
  background: #c4c4c4;
  height: 1em;
  width: 3em;
  margin-bottom: 0.8em;
  border-radius: 0 0 1em 1em;
  position: relative;
}

.lightsaber-right .part-3-right::before {
  content: "";
  width: 120%;
  height: 0.5em;
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background: #c4c4c4;
  border-bottom: 3px solid #000;
}

.lightsaber-right .part-1-right,
.lightsaber-right .part-1-right::before,
.lightsaber-right .part-3-right,
.lightsaber-right .part-3-right::before,
.lightsaber-right .part-2-right::before {
  background: rgb(126, 126, 126);
  background: linear-gradient(
    90deg,
    rgba(126, 126, 126, 1) 0%,
    rgba(227, 227, 227, 1) 20%,
    rgba(120, 120, 120, 1) 50%,
    rgba(227, 227, 227, 1) 80%,
    rgba(126, 126, 126, 1) 100%
  );
}

.lightsaber-right .blade-right {
  height: 0;
  width: 1.8em;
  background: #fff;
  border-radius: 2em 2em 0 0;
  margin: 0 auto;
  position: relative;
  transition: 0.4s;
}

.lightsaber-right .blade-right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #da2222;
  filter: blur(15px);
  z-index: -1;
}

.lightsaber-right .part-1-right .switch-btn-right {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.lightsaber-right .blade-height-right {
  height: 40em;
}